/* ======= EXTERNAL FONT ======= */
@font-face {
    font-family: 'Miriad';
    font-style: normal;
    font-weight: 400;
    src: local('Miriad Regular'), local('Miriad-Regular'), url(http://localhost/statics/100/shared/font-miriad/MYRIADPRO-REGULAR.OTF) format('truetype');
}

@font-face {
    font-family: 'Miriad';
    font-style: italic;
    font-weight: 400;
    src: local('Miriad Italic'), local('Miriad-Italic'), url(http://localhost/statics/100/shared/font-miriad/MYRIADPRO-ITALIC.OTF) format('truetype');
}

@font-face {
    font-family: 'Miriad';
    font-style: bold;
    font-weight: 700;
    src: local('Miriad Bold'), local('Miriad-Bold'), url(http://localhost/statics/100/shared/font-miriad/MYRIADPRO-BOLD.OTF) format('truetype');
}

::selection{
color:#fff;
background:#ff9800; /* WebKit/Blink Browsers */
}

::-moz-selection{
color:#fff;
background:#ff9800; /* WebKit/Blink Browsers */
}

/* ======= EXTERNAL FONT END ======= */

/* ======= COMPONENT ENT ======= */

.loading{
width:100%;
height:100%;
text-align:center;
margin:0 auto;
}

.loading i{
color:#fb3;
}

/* ======= COMPONENT OUT ======= */

/* ======= MASTER ENT ======= */

body{
font-family:"Miriad",Arial,Helvetica,sans-serif;
font-size:100%;
margin:0; 
}

a:link,
a:visited{
color:#227799;
text-decoration:none;
}
a:hover{color:#ff9800}

/* STANDARD SECTION - START */

.wrapper_section{
width:100%;
min-width:1260px;
display:table;
padding:30px 0;
float:left;
}

.wrapper_section_center{
width:1260px;
margin:0 auto;
}

/* STANDARD SECTION - END */

/* HEADER - START */
.wrapper_header{
background:#fff;
padding:0;
}

.wrapper_header_center{
height:40px;
background:#fff;
}

.wrapper_header_center .wrapper_menu{
width:auto;
display:table;
float:left;
}

.wrapper_header_center .head_logo{
width:110px;
height:40px;
margin:3px 20px 3px 0;
float:left;
}

.head_logo img{
width:110px;
height:40px;
}

.wrapper_menu a.head_navigate_button{
width:auto;
color:#777;
font-weight:normal;
padding:10px 8px 0 8px;
border-top:3px solid #fff;
text-align:center;
font-size:0.75em;
float:left;
}

.wrapper_menu a.head_navigate_button:hover{
color:#ff9800;
border-top:3px solid #ff9800;
text-decoration:none;
}

.wrapper_menu a.head_navigate_button_active{
width:auto;
color:#ff9800;
border-top:3px solid #ff9800;
font-weight:normal;
padding:10px 8px 0 8px;
text-align:center;
font-size:0.75em;
float:left;
}

.wrapper_menu a:hover.head_navigate_button_active{
text-decoration:none;
}

/* HEADER - END */

/* CONTENT START */

.wrapper_content{
}

.wrapper_content_center{
min-height:550px;
}

.wrapper_content_center .wrapper_content_column_1{
width:200px;
min-height:1px;
margin-right:15px;
float:left;
}

.wrapper_content_center .wrapper_content_column_2{
width:730px;
margin-right:15px;
float:left;
}

.wrapper_content_center .wrapper_content_column_3{
width:300px;
float:left;
}

.wrapper_content_column_2_element .title{
color:#755;
font-size: 5em;
}

.wrapper_content_column_2_element input[type="text"]{
width:80%;
border:none;
border-bottom:1px solid #eee;
height:36px;
padding:2px 0;
margin-bottom:15px;
color:#444;
float:left;
}

.wrapper_content_column_2_element input[type="text"]:focus{
border-color:#ffc107;
color:#000;
}

.wrapper_content_column_1 .wrapper_content_column_element,
.wrapper_content_column_2 .wrapper_content_column_element,
.wrapper_content_column_3 .wrapper_content_column_element{
width:100%;
display:table;
margin-bottom:30px;
top:0;
float:left;
}

.wrapper_content_column_2 .wrapper_content_center_300_element,
.wrapper_content_column_3 .wrapper_content_center_300_element{
width:300px;
display:table;
float:left;
}

.wrapper_content_column_3_element .btn_articles_categories{
width:150px;
height:64px;
background-color:#ff9800;
float:left;
}

.wrapper_content_column_3_element .btn_articles_categories:hover{
opacity:0.8;
}

/* CONTENT END */



/* ======= MASTER OUT ======= */



/* BUTTON START */

.button,
.button_wide{
min-width:38px;
height:38px;
line-height:38px;
text-align:center;
border:1px solid #f0f0f0;
background:#fff;
color:#777 !important;
cursor:pointer;
font-size:12px;
float:left
}

.button:hover,
.button_wide:hover{
background:#ff9800;
color:#fff !important;
border-color:#ff9800
}

.button_wide{
padding:0 10px;
}

.button_active,
.button_wide_active{	
min-width:38px;
height:38px;
line-height:38px;
text-align:center;
border:1px solid #ff9800;
background:#ff9800;
color:#fff;
cursor:pointer;
font-size:12px;
float:left
}

.button_wide_active{
padding:0 10px
}

.button_active:hover,
.button_wide_active:hover{
background:#fff;
color:#ff9800;
}

.button_disable,
.button_wide_disable{	
min-width:38px;
height:38px;
line-height:38px;
text-align:center;
border:1px solid #eee;
background:#eee;
color:#888;
cursor:pointer;
font-size:12px;
float:left
}

.button_wide_disable{
padding:0 10px
}

.button_icon{
width:140px;
height:40px;
background:#ff9800;
border-radius:4px;
}

.button_icon:hover{
background:#F1AE30;
}

.button_icon .button_icon_icon{
width:32px;
height:32px;
padding:4px;
background:#fff;
border-radius:4px 0 0 4px;
float:left;
}

.button_icon .button_icon_text{
width:100px;
height:40px;
line-height:39px;
text-align:center;
font-weight:bold;
color:#fff;
float:left;
}

/* BUTTON END */