/* ======= EXTERNAL FONT ======= */
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    src: local('roboto Regular'), local('roboto-regular'), url(http://localhost/smart-search/statics/external_data/font-roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    font-weight: 400;
    src: local('roboto Italic'), local('roboto-italic'), url(http://localhost/smart-search/statics/external_data/font-roboto/Roboto-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'roboto';
    font-style: bold;
    font-weight: 700;
    src: local('roboto Bold'), local('roboto-bold'), url(http://localhost/smart-search/statics/external_data/font-roboto/Roboto-Bold.ttf) format('truetype');
}

::selection{
	color:#fff;
	background:#ff9800; /* WebKit/Blink Browsers */
}

::-moz-selection{
	color:#fff;
	background:#ff9800; /* WebKit/Blink Browsers */
}

/* ======= EXTERNAL FONT END ======= */

/* ======= COMPONENT ENT ======= */

.loading{
	width:100%;
	height:100%;
	text-align:center;
	margin:0 auto;
}

.loading i{
	color:#fb3;
}

/* ======= COMPONENT OUT ======= */

/* ======= MASTER ENT ======= */

body{
	font-family:"roboto",Arial,Helvetica,sans-serif;
	font-size:100%;
	margin:0; 
}

a:link,
a:visited{
	color:#227799;
	text-decoration:none;
}
a:hover{color:#ff9800}

/* STANDARD SECTION - START */

.wrapper_section{
	width:100%;
	min-width:1260px;
	display:table;
	padding:30px 0;
	float:left;
}

.wrapper_section_center{
	width:1260px;
	margin:0 auto;
}

/* STANDARD SECTION - END */

/* HEADER - START */
	.wrapper_header{
	background:#fff;
	padding:0;
}

.wrapper_header_center{
	height:40px;
}

.wrapper_header_center .wrapper_menu{
	width:auto;
	display:table;
	float:left;
}

.wrapper_header_center .head_logo{
	width:110px;
	height:40px;
	margin:3px 20px 3px 0;
	float:left;
}

.head_logo img{
	width:110px;
	height:40px;
}

.wrapper_menu a.head_navigate_button{
	width:auto;
	color:#777;
	font-weight:normal;
	padding:10px 8px 0 8px;
	border-top:3px solid #fff;
	text-align:center;
	font-size:0.75em;
	float:left;
}

.wrapper_menu a.head_navigate_button:hover{
	color:#ff9800;
	border-top:3px solid #ff9800;
	text-decoration:none;
}

.wrapper_menu a.head_navigate_button_active{
	width:auto;
	color:#ff9800;
	border-top:3px solid #ff9800;
	font-weight:normal;
	padding:10px 8px 0 8px;
	text-align:center;
	font-size:0.75em;
	float:left;
}

.wrapper_menu a:hover.head_navigate_button_active{
	text-decoration:none;
}

/* HEADER - END */

/* CONTENT START */

.wrapper_content{
}

.wrapper_content_center{
	min-height:550px;
}

.wrapper_content_center .wrapper_content_column_1{
	width:150px;
	min-height:1px;
	margin-right:15px;
	float:left;
}

.wrapper_content_center .wrapper_content_column_2{
	width:850px;
	margin-right:15px;
	float:left;
}

.wrapper_content_center .wrapper_content_column_3{
	width:230px;
	float:left;
}

.wrapper_content_column_1 .wrapper_content_column_1_element,
.wrapper_content_column_2 .wrapper_content_column_2_element,
.wrapper_content_column_3 .wrapper_content_column_3_element{
	width:100%;
	display:table;
	margin-bottom:30px;
	top:0;
	float:left;
}

.wrapper_content_column_2 .wrapper_content_center_300_element,
.wrapper_content_column_3 .wrapper_content_center_300_element{
	width:300px;
	display:table;
	float:left;
}

.wrapper_content_column_3_element .btn_articles_categories{
	width:150px;
	height:64px;
	background-color:#ff9800;
	float:left;
}

.wrapper_content_column_3_element .btn_articles_categories:hover{
	opacity:0.8;
}

/* CONTENT END */

/* HOME START */

.wrapper_content_column_2_element .title{
	width:100%;
	display:table;
	font-size:3.5em;
	font-weight:100;
	text-align:center;
	color:#ff9800;
	margin-bottom:40px;
	float:left;
}

/* HOME END */


/* DEVELOPERS START */

.wrapper_content_column_2_element .developers{
	width:100%;
	display:table;
	font-size:1.8em;
	font-weight:100;
	text-align:center;
	color:#c13832;
	margin-bottom:40px;
	float:left;
}

.row .avatar{
	width:256px;
	height:256px;
	background:#000;
	cursor:pointer;
	float:left;
}

.row .name{
	width:530px;
	height:32px;
	float:left;
	margin:15px 15px;
	color:#37474f;
	padding-right:20px;
	box-sizing:border-box;
	font-size:1.5em;
}

.row .name:hover{
	color: #2196f3;
}

.row .info{
	width:530px;
	display:table;
	float:left;
	margin-left:15px;
}

.info .info_title{
	width:100%;
	display:table;
	font-weight:bold;
	margin-bottom:10px;
	font-size:1.0em;
	color:#ef6c00
}

.info .content{
	width:100%;
	line-height:18px;
	display:table;
	font-size:0.9em
}

/* DEVELOPERS END */

/* ARTICLE BRIEF START */

.row .article_title{
	width:100%;
	min-height:20px;
	float:left
}

.article_title a:link,
.article_title a:visited{
	font-weight:bold;
	text-transform:uppercase;
}

.row .article_meta{
	width:100%;
	height:20px;
	line-height:20px;
	text-transform:uppercase;
	font-size:0.8em;
	color:#555;
	float:left;
}

.row .article_brief{
	width:100%;
	min-height:10px;
	float:left;
}


/* ARTICLE BRIEF END */

.article_box{
	width:100%;
	height:auto;
	float:left;
}

/* ARTICLES META - START */

.article_box .base_url{
	min-height:30px;
	width:100%;
	line-height:10px;
	font-size:0.8em;
	float:left;
}

.article_box .article_meta{
	min-height:30px;
}

.article_box h1{
	width:100%;
	min-height:30px;
	font-size:2.0em;
	font-weight:400;
	margin:0 0 10px 0;
	color:#279;
	line-height:110%;
	float:left;
}

.article_meta .article_meta_info{
	width:100%;
	min-height:14px;
	line-height:10px;
	text-transform:uppercase;
	font-size:0.8em;
	float:left;
}

/* ARTICLES META - END */

/* ARTICLES CONTENT - START */

.article_box .article_content{
	width:100%;
	height:auto;
	float:left;
}

.article_content > h2{
	height:auto;
	font-size:2.0em;
	font-weight:400;
	color:#279;
}

.article_content > h3{
	height:auto;
	font-size:1.6em;
	font-weight:400;
	color:#279;
}

.article_content > h4{
	height:auto;
	font-size:1.2em;
	font-weight:400;
	color:#279;
}

.article_content > p{
	font-size:0.96em;
}

.article_content a:link,
.article_content a:visited{
	color:#007AC3;
	text-decoration:none;
}
.article_content a:hover{color:#f80}

.article_content > table{
	max-width:850px !important;
	border-collapse:collapse;
}

.article_content > table td,
.article_content > table th{
	border:1px solid #ddd;
}

.article_content > table th{
	color:#f80;
}

.article_content > iframe{
	border:1px solid #ddd;
	margin:0;
	padding:0;
}

.article_content > ul,
.article_content > ol{
	width:830px;
	padding-left:40px;
	font-size:0.96em;
}

.article_content > ul > li,
.article_content > ol > li{
	min-height:10px;
	width:90%;
	padding:0;
}

.article_content > ul > li > ul,
.article_content > ul > li > ol{
	width:830px;
	padding-left:40px;
}

.article_content > ul > li > ul > li,
.article_content > ul > li > ol > li{
	min-height:10px;
	width:830px;
	padding:0;
}

.article_content > .articles_bg_browser{
	width:850px;
	padding:25px 4px 10px 4px;
	min-height:25px;
	background:url('img_articles_bg_browser.png') 0 0 transparent;
	border:1px solid #f0f0f0;
	background-repeat:no-repeat;
}

.article_content > .articles_bg_browser img{
	max-width:850px;
	height:auto;
}

.article_content > blockquote{
	font-style:italic;
	color:#0ad;
	border-top:3px #0ad solid;
	border-bottom:3px #0ad solid;
	margin:0;
}

.article_content > blockquote > p{
	padding:10px 30px !important;
}

.article_content > pre.prettyprint{
	width:848px !important;
	background:#fffce5;
	border:1px solid #fb3;
	padding:8px 0;
	overflow:auto;
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
	/*font-family:"Lucida Console", Monaco, monospace !important;
	font-size:0.8em;*/
}

.article_content span.article_code{
	color:#f80; 
	font-family:"Lucida Console", Monaco, monospace !important;
}

.article_content span.article_highlight{
	color:#821;
}

.article_content > p img{
	max-width:850px !important;
	height:auto !important;
}

/* ARTICLES CONTENT - END */

/* ARTICLES TAG - START */

.article_box .article_tag{
	width:100%;
	min-height:20px;
	margin:20px 0;
	float:left;
}

.article_box .article_tag .ele_tag{
	width:auto;
	height:20px;
	color:#07b;
	border-bottom:2px solid #07b;
	font-size:0.86em;
	padding:0 5px;
	margin-right:4px;
	float:left
}

/* ARTICLES TAG - END */

/* ARTICLES OUTLINE - START */

.outline_box{
	width:300px;
	display:table;
	box-sizing:border-box;
	padding:10px;
	background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 30%, rgba(250,250,250,1) 100%);
	border-bottom:3px solid #279;
	top:0;
	float:left
}

.outline_box .outline_h2,
.outline_box .outline_h3,
.outline_box .outline_h4{
	width:100%;
	min-height:13px;
	line-height:13px;
	float:left
}

.outline_box .outline_h2{
	width:100%;
	padding:3px 0 3px 0;
}

.outline_box .outline_h3{
	width:94%;
	padding:3px 0 3px 6%;
}

.outline_box .outline_h4{
	width:88%;
	padding:3px 0 3px 12%;
}

.outline_h2 a:link,
.outline_h2 a:visited,
.outline_h3 a:link,
.outline_h3 a:visited,
.outline_h4 a:link,
.outline_h4 a:visited{
	font-size:0.8em;
	color:#279;
}

.outline_h2 a:hover,
.outline_h3 a:hover,
.outline_h4 a:hover{
	font-size:0.8em;
	color:#0ad;
}

/* ARTICLES OUTLINE - END */

.author_about_box{
	width:100%;
	min-height:100px;
	position:relative;
	float:left;
}

.author_about_box .author_icon{
	width:100px;
	height:100px;
	position:absolute;
	top:0;
	left:0;
}

.author_about_box .author_about_content{
	width:100%;
	height:auto;
	box-sizing:border-box;
	padding:0 0 0 110px;
}

.author_about_content .author_meta{
	width:100%;
	display:table;
}

.author_about_content .author_meta .author_meta_left{
	width:auto;
	height:auto;
	float:left
}

.author_about_content .author_meta .author_meta_right{
	width:auto;
	height:auto;
	float:right
}

.author_meta_left .author_title{
	text-transform:uppercase;
	font-size:1.2em;
}

.author_meta_left .author_job{
	width:100%;
	height:20px;
	line-height:20px;
	text-transform:uppercase;
	color:#777;
	margin-bottom:5px;
	font-size:0.8em;
}

.author_meta_right .author_button{
	width:auto;
	height:22px;
	line-height:22px;
	color:#fff;
	background:#f44336;
	padding:0 7px;
	font-size:0.8em;
	margin-left:1px;
	float:left
}

.author_meta_right .author_button:hover{
	background:#aa0000;
}

.author_about_content .author_description{
	width:100%;
	height:auto;
	font-size:0.9em;
}

/* SITEMAP START */

.wrapper_content_column_2 h1 a:hover{
	color:#f80;
	text-decoration:none;
}

.wrapper_content_column_2 h4{
	width:100%;
	height:30px;
	color:#333;
	font-weight:200;
	margin:10px 0;
}

.wrapper_content_column_2 h4 a:link,
.wrapper_content_column_2 h4 a:hover,
.wrapper_content_column_2 h4 a:visited{
	font-weight:bold;
}

.wrapper_content_column_2 .sitemap_category_list{
	width:100%;
	min-height:35px;
	display:table;
}

.sitemap_category_list a{
text-decoration:none;
}

.sitemap_category_list .sitemap_category_element{
	min-width:50px;
	text-align:center;
	background:#fb3;
	font-weight:normal;
	margin:0 5px 5px 0;
	padding:5px 10px;
	color:#fff;
	float:left
}

.sitemap_category_list .sitemap_category_element_2{
	min-width:50px;
	text-align:center;
	background:#fb3;
	font-weight:normal;
	margin:0 5px 5px 35px;
	padding:5px 10px;
	color:#fff;
	float:left
}

.sitemap_category_list .sitemap_category_element:hover{
	background:#f80;
	text-decoration:none;
}

/* SITEMAP END */

/* ARTICLES PAGE START */

.promote_categories{
	width:100%;
	height:30px;
	float:left;
	font-size:0.8em;
}

.promote_categories a:link,
.promote_categories a:visited{
	width:auto;
	height:auto;
	text-align:center;
	padding:4px 5px;
	margin:0 3px 0 0;
	background:#ff9800;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
	float:left;
}

.promote_categories a:hover,
.promote_categories a.active{
	background:#ff7700;
	text-decoration:none;
}

/* ARTICLE PAGE END */

/* ======= MASTER OUT ======= */