/* ======= EXTERNAL FONT ======= */
@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    src: local('roboto Regular'), local('roboto-regular'), url(http://localhost/smart-search/statics/external_data/font-roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    font-weight: 400;
    src: local('roboto Italic'), local('roboto-italic'), url(http://localhost/smart-search/statics/external_data/font-roboto/Roboto-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'roboto';
    font-style: bold;
    font-weight: 700;
    src: local('roboto Bold'), local('roboto-bold'), url(http://localhost/smart-search/statics/external_data/font-roboto/Roboto-Bold.ttf) format('truetype');
}

::selection{
	color:#fff;
	background:#ff9800; /* WebKit/Blink Browsers */
}

::-moz-selection{
	color:#fff;
	background:#ff9800; /* WebKit/Blink Browsers */
}

/* ======= EXTERNAL FONT END ======= */

/* ======= COMPONENT ENT ======= */

.loading{
	width:100%;
	height:100%;
	text-align:center;
	margin:0 auto;
}

.loading i{
	color:#fb3;
}

/* ======= COMPONENT OUT ======= */

/* ======= MASTER ENT ======= */

body{
	font-family:"roboto",Arial,Helvetica,sans-serif;
	font-size:100%;
	margin:0; 
}

a:link,
a:visited{
	color:#227799;
	text-decoration:none;
}
a:hover{color:#ff9800}

/* STANDARD SECTION - START */

.wrapper_section{
	width:100%;
	min-width:1260px;
	display:table;
	padding:30px 0;
	float:left;
}

.wrapper_section_center{
	width:1260px;
	margin:0 auto;
}

/* STANDARD SECTION - END */

/* HEADER - START */
	.wrapper_header{
	background:#fff;
	padding:0;
}

.wrapper_header_center{
	height:40px;
	background:#fff;
}

.wrapper_header_center .wrapper_menu{
	width:auto;
	display:table;
	float:left;
}

.wrapper_header_center .head_logo{
	width:110px;
	height:40px;
	margin:3px 20px 3px 0;
	float:left;
}

.head_logo img{
	width:110px;
	height:40px;
}

.wrapper_menu a.head_navigate_button{
	width:auto;
	color:#777;
	font-weight:normal;
	padding:10px 8px 0 8px;
	border-top:3px solid #fff;
	text-align:center;
	font-size:0.75em;
	float:left;
}

.wrapper_menu a.head_navigate_button:hover{
	color:#ff9800;
	border-top:3px solid #ff9800;
	text-decoration:none;
}

.wrapper_menu a.head_navigate_button_active{
	width:auto;
	color:#ff9800;
	border-top:3px solid #ff9800;
	font-weight:normal;
	padding:10px 8px 0 8px;
	text-align:center;
	font-size:0.75em;
	float:left;
}

.wrapper_menu a:hover.head_navigate_button_active{
	text-decoration:none;
}

/* HEADER - END */

/* CONTENT START */

.wrapper_content{
}

.wrapper_content_center{
	min-height:550px;
}

.wrapper_content_center .wrapper_content_column_1{
	width:150px;
	min-height:1px;
	margin-right:15px;
	float:left;
}

.wrapper_content_center .wrapper_content_column_2{
	width:850px;
	margin-right:15px;
	float:left;
}

.wrapper_content_center .wrapper_content_column_3{
	width:230px;
	float:left;
}

.wrapper_content_column_1 .wrapper_content_column_1_element,
.wrapper_content_column_2 .wrapper_content_column_2_element,
.wrapper_content_column_3 .wrapper_content_column_3_element{
	width:100%;
	display:table;
	margin-bottom:30px;
	top:0;
	float:left;
}

.wrapper_content_column_2 .wrapper_content_center_300_element,
.wrapper_content_column_3 .wrapper_content_center_300_element{
	width:300px;
	display:table;
	float:left;
}

.wrapper_content_column_3_element .btn_articles_categories{
	width:150px;
	height:64px;
	background-color:#ff9800;
	float:left;
}

.wrapper_content_column_3_element .btn_articles_categories:hover{
	opacity:0.8;
}

/* CONTENT END */

/* HOME START */

.wrapper_content_column_2_element .title{
	width:100%;
	display:table;
	font-size:3.5em;
	font-weight:100;
	text-align:center;
	color:#d32f2f;
	margin-bottom:40px;
	float:left;
}

/* HOME END */


/* DEVELOPERS START */

.wrapper_content_column_2_element .developers{
	width:100%;
	display:table;
	font-size:1.8em;
	font-weight:100;
	text-align:center;
	color:#c13832;
	margin-bottom:40px;
	float:left;
}

.row .avatar{
	width:256px;
	height:256px;
	background:#000;
	cursor:pointer;
	float:left;
}

.row .name{
	width:530px;
	height:32px;
	float:left;
	margin:15px 15px;
	color:#37474f;
	padding-right:20px;
	box-sizing:border-box;
	font-size:1.5em;
}

.row .name:hover{
	color: #2196f3;
}

.row .info{
	width:530px;
	display:table;
	float:left;
	margin-left:15px;
}

.info .info_title{
	width:100%;
	display:table;
	font-weight:bold;
	margin-bottom:10px;
	font-size:1.0em;
	color:#ef6c00
}

.info .content{
	width:100%;
	line-height:18px;
	display:table;
	font-size:0.9em
}

/* DEVELOPERS END */


/* ======= MASTER OUT ======= */