body
{
background:#B3E5FC;
}
.title h1
 {
	color:#0923EC;
	 font-size:400%;
	  margin-top:10%;
	   margin-left:38%
}
.search_form input
{
	width:15cm; height:1cm; margin-left:10cm;	
}
.search_form button
{
	color:#FFFFFF;
	 height:1.5cm;
	  width:4cm;
	  background-color:#0288D1;	
}
.dev_team
{
	margin-left:47%;
	 color:#0923EC;
	 margin-bottom:1cm;
}
.crawl_button button
{
	color:#FFFFFF; height:2cm; width:2cm;  background-color:#0288D1; float:right; font-size:100%; padding-top:0m;
}
.analyze_button button
{
	color:#FFFFFF; height:2cm; width:2cm; background-color:#0288D1; float:left; font-size:100%; padding-top:0m;
}
